@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: rgba(0, 0, 0, 0.815);
}

/* header and nav part */
.container {
    padding: 4rem 11rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
#company-title h3{
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
    font-style: italic;
    font-weight: 800;
}
.nav-option a{
    text-decoration: none;
    margin-right: 3rem;
    /* color: whitesmoke; */
    /* font-weight: 300; */
}
.nav-option #active{
    background-color: rgb(230, 83, 60);
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    color: whitesmoke;
}
#hamburger-menu{
    display: none;
}

/* mobile device */
@media screen and (max-width:576px){
    .container{
        padding: 1rem 1.5rem;
    }
   .navbar{
    align-items: center;
   }
    #hamburger-menu{
        display: block;
        color: whitesmoke;
    }
    .nav-option{
        display: none;
    }
    
}